/* Zera espaçamentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte geral */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eeeeee;
}

/* Cabeçalho normal */
header {
    width: 80%;
    margin: 20px auto;
    padding: 25px;
    background-color: #222;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo normal */
.logo {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Menu normal */
nav ul {
    display: flex;
    list-style: none;
    gap: 18px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Título */
h3 {
    text-align: center;
    margin: 30px 0;
    font-size: 22px;
}

/* Área das imagens */
section {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* Cards normais */
article {
    width: 30%;
}

/* Imagem responsiva */
article img {
    width: 100%;
    height: auto;
    display: block;
}

/* Legenda normal */
article p {
    text-align: center;
    margin-top: 8px;
    font-size: 11px;
    color: #999;
}

/* MEDIA QUERY ATIVA EM 670PX */
@media screen and (max-width: 670px) {

    /* Cabeçalho vai para 90% */
    header {
        width: 90%;
        margin: 20px auto;
        padding: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Logo maior e cinza */
    .logo {
        font-size: 30px;
        color: white;
    }

    /* Menu vertical à direita */
    nav ul {
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        
    }

    /* Links cinza com fundo claro */
    nav ul li a {
        display: block;
        width: 75px;
        padding: 2px 4px;

        background-color: #999;
        color: white;
        font-size: 12px;
        text-align: left;
    }

    /* Título menor */
    h3 {
        font-size: 16px;
        margin: 35px 0;
    }

    /* Área das imagens */
    section {
        width: 90%;
        gap: 35px;
    }

    /* Imagem menor, igual ao modelo */
    article {
        width: 60%;
        max-width: 320px;
    }

    /* Legenda menor e cinza */
    article p {
        font-size: 14px;
        color: #999;
        margin-top: 5px;
    }
}

/* AJUSTE ATÉ 400PX */
@media screen and (max-width: 400px) {

    header {
        width: 90%;
        padding: 25px;
    }

    .logo {
        font-size: 22px;
    }

    nav ul li a {
        width: 70px;
        font-size: 11px;
    }

    h3 {
        font-size: 14px;
    }

    article {
        width: 80%;
        max-width: 280px;
    }

    article p {
        font-size: 11px;
    }
}